modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://zyhyufxaccjvmkbyivxz.supabase.co"
RESEND_FROM_EMAIL = "noreply@x.rw"
NEXT_PUBLIC_APP_URL = "https://x.rw"
NEXTAUTH_SECRET = "3878ffd6c3e0ce5cf4b9d0fc239d41ae50c0cd8bbdc3a249a1d9a7ba1354a953"
VERCEL_PROJECT_ID = "prj_iUBe5v2wht9SYe1SuFKyj0vMgyLR"

[userenv.development]
NEXTAUTH_URL = "https://a24d36aa-663d-4845-8cdb-bf3886fa0ea6-00-2udkc72x46j2m.worf.replit.dev"
NEXT_PUBLIC_BASE_URL = "https://a24d36aa-663d-4845-8cdb-bf3886fa0ea6-00-2udkc72x46j2m.worf.replit.dev"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
