modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://zyhyufxaccjvmkbyivxz.supabase.co"
RESEND_FROM_EMAIL = "noreply@x.rw"
NEXT_PUBLIC_APP_URL = "https://x.rw"
NEXTAUTH_SECRET = "3878ffd6c3e0ce5cf4b9d0fc239d41ae50c0cd8bbdc3a249a1d9a7ba1354a953"
VERCEL_PROJECT_ID = "prj_iUBe5v2wht9SYe1SuFKyj0vMgyLR"
WHOIS_TIMEOUT_MS = "10000"
NEXT_PUBLIC_MAX_WHOIS_FOLLOW = "0"
NEXT_PUBLIC_HISTORY_LIMIT = "-1"

[userenv.development]
NEXTAUTH_URL = "https://f916df4b-e78d-41cd-9e27-6646776fc493-00-2zrfddb1tisjq.kirk.replit.dev"
NEXT_PUBLIC_BASE_URL = "https://f916df4b-e78d-41cd-9e27-6646776fc493-00-2zrfddb1tisjq.kirk.replit.dev"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
